@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.color-principal {
  background-color: #698474;
}

.btn-principal {
  width: fit-content;
  background-color: #698474;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn-principal:hover {
  background-color: rgb(82.4050632911, 103.5949367089, 91.0379746835);
}

.btn-secundario {
  width: fit-content;
  background-color: #698474;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn-secundario:hover {
  background-color: rgb(82.4050632911, 103.5949367089, 91.0379746835);
}

@media (max-width: 576px) {
  .hero-section {
    padding: 1.5rem;
  }
}
@media (max-width: 320px) {
  .hero-section {
    padding: 1rem;
  }
}
@media (max-width: 768px) {
  .hero-section {
    padding: 3rem;
  }
}
@media (max-width: 992px) {
  .hero-section {
    flex-wrap: wrap;
    padding: 4rem;
  }
}
@media (max-width: 320px) {
  .hero-section .texto-hero h1 {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .hero-section .texto-hero h1 {
    font-size: 1.2rem;
  }
}
@media (max-width: 576px) {
  .hero-section .texto-hero h1 {
    font-size: 2rem;
  }
}
@media (max-width: 992px) {
  .hero-section .texto-hero h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 1400px) {
  .hero-section .texto-hero h1 {
    font-size: 3rem;
  }
}
@media (max-width: 320px) {
  .hero-section .texto-hero p {
    font-size: 0.8rem;
  }
}
@media (max-width: 480px) {
  .hero-section .texto-hero p {
    font-size: 0.9rem;
  }
}
@media (max-width: 576px) {
  .hero-section .texto-hero p {
    font-size: 1.1rem;
  }
}
@media (max-width: 992px) {
  .hero-section .texto-hero p {
    font-size: 1.2rem;
  }
}
@media (max-width: 1400px) {
  .hero-section .texto-hero p {
    font-size: 1.3rem;
  }
}
@media (max-width: 992px) {
  .hero-section .hero-img {
    width: 600px;
    height: 300px;
  }
}

@media (max-width: 480px) {
  .navbar ul {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .navbar ul {
    gap: 1.5rem;
  }
}
@media (max-width: 992px) {
  .navbar ul {
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .cancion-dia {
    padding: 0px;
  }
  .cancion-dia iframe {
    width: 300px;
    height: 200px;
  }
}

@media (max-width: 576px) {
  footer {
    align-items: center;
    text-align: center;
    padding: 0.5rem;
  }
  footer .lado-izq .lado-der {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    align-items: center;
  }
}
@media (max-width: 768px) {
  footer {
    align-items: center;
    padding: 1rem;
  }
}
@media (max-width: 992px) {
  footer {
    justify-content: center;
    padding: 2rem;
  }
}
@media (max-width: 1400px) {
  footer {
    padding: 3rem;
  }
}

.navbar {
  padding: 50px;
}
.navbar .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  flex-wrap: wrap;
}
.navbar .container-fluid .navbar-brand {
  font-size: 2rem;
  font-family: "Chewy", serif;
  color: #fff;
  font-weight: bold;
}
.navbar .container-fluid .navbar-brand img {
  width: 100px;
  height: auto;
}
.navbar .container-fluid .navbar-toggler {
  color: #ffd3b6;
}
.navbar .container-fluid .navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.navbar .container-fluid .navbar-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .container-fluid .navbar-nav .nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.3s;
}
.navbar .container-fluid .navbar-nav .nav-link:hover {
  color: #ffd3b6;
}

/* Hero Section */
.hero-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #ffd3b6;
  padding: 30px 5%;
}
.hero-section .texto-hero {
  /* flex-direction: wrap; */
  width: 100%;
  padding: 20px;
}
.hero-section .texto-hero h1 {
  font-size: 3rem;
  margin-bottom: 15px;
  line-height: 1.2;
  font-family: "Chewy", serif;
  color: #333;
  font-weight: bold;
}
.hero-section .texto-hero p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 20px;
  font-family: "Quicksand", serif;
  font-weight: 500;
  color: #333;
  margin-bottom: 30px;
}
.hero-section .hero-img {
  background-image: url(../images/portada.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 1200px;
  height: 600px;
  border-radius: 20px;
}

/* Nuestra Ubicación */
.location-map {
  width: 100%;
  height: 500px;
  margin-top: 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  margin-bottom: 20px;
}
.location-map h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-family: "Chewy", serif;
  color: #333;
  font-weight: bold;
}
.location-map p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 20px;
  font-family: "Quicksand", serif;
  font-weight: 500;
  color: #333;
  margin-bottom: 30px;
}
.location-map iframe {
  width: 60%;
  height: 100%;
  border-radius: 20px;
}

/* Canción del día */
.cancion-dia {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fcf8f3;
  padding: 20px;
}
.cancion-dia h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-family: "Chewy", serif;
  color: #333;
  font-weight: bold;
}
.cancion-dia p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 20px;
  font-family: "Quicksand", serif;
  font-weight: 500;
  color: #333;
  margin-bottom: 30px;
}
.cancion-dia iframe {
  border-radius: 10px;
}

/* Menu */
.titulo-secundario {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: "Chewy", serif;
  color: #698474;
  font-weight: 5;
  text-align: center;
}

/* Galeria */
footer {
  width: 100%;
  height: auto;
  background-color: #ffcbc8;
  padding: 50px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
  position: relative;
  bottom: 0;
}
footer .lado-izq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .lado-izq a .logo-footer {
  width: 150px;
  height: auto;
}
footer .lado-izq .contenedor-rrss {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
footer .lado-izq .contenedor-rrss a {
  margin: 0 10px;
}
footer .lado-izq .contenedor-rrss a img {
  width: 40px;
  height: 40px;
}
footer .lado-der {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
footer .lado-der .nav-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 20px;
}
footer .lado-der .nav-footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
footer .lado-der .nav-footer ul li {
  margin: 0 4px;
}
footer .lado-der .nav-footer ul li a {
  text-decoration: none;
  color: #698474;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.3s;
}
footer .lado-der .nav-footer ul li a:hover {
  color: #698474;
}
footer .lado-der p {
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
  color: #333;
}

/* Variables */
/* ESTILOS NOSOTROS*/
.equipo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding: 50px 5%;
}
.equipo__card {
  background-color: #deaa79;
  width: 280px;
  height: auto;
  border-radius: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.equipo__card:hover {
  box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.59);
  transform: translateY(-10px);
}
.equipo__card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 20px;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.card {
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: slideUp 0.5s ease-out;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
.card:hover .card-img-top {
  transform: scale(1.1);
}
.card .card-img-top {
  transition: transform 0.3s ease;
}

/*# sourceMappingURL=estilo.css.map */
